{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<h1 align="center">Hoş Geldiniz</h1>
<h1 align="center">Notes</h1>
<ul class="list-group list-group-flush" id="notes">
  {% for note in user.notes %}
  <li class="list-group-item">
    {{ note.data }}
    <button type="button" class="close" onClick="deleteNote({{ note.id }})">
      <span aria-hidden="true">&times;</span>
    </button>
  </li>
  {% endfor %}
</ul>
<form method="POST">
  <textarea name="note" id="note" class="form-control"></textarea>
  <br />
  <div align="center">
    <button type="submit" class="btn btn-primary">Add Note</button>
  </div>
</form>

<h3>Canlı İzlemek İçin Tıklayınız...</h3>
  <form method="post" action="/video">
    <button type="submit" class="btn btn-success">Video</button>
      <!-- <input type="submit" value="VALUE2" name="action2" /> -->
      <!-- <a href="https://192.168.0.171/video" target="_blank" rel="noopener noreferrer"> Furkan Giray </a> -->
  </form>
{% endblock %}


